<h1>Holy Smokes!</h1>
<p>Looks like you deleted an item off your shopping list</p>
<li class ='return'><a href='/new'> Add another item </a></li>
<li class ='return'><a href='/'> Return to list </a></li>
